*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    
    width: 100%;
}

.row{
    display: flex;
}

body{
    background-color: #ededed;

}

.header{
    background-color: blue;
    color: white;
    padding: 20px;
}
.card{
    margin: 0;
}

@media (max-width : 600px){
    .row{
        flex-direction: column;
    }

    .card{
        margin-top: 20px;
        overflow: scroll;
    }
    .col--md-4,.col-md-8{
        width: 100%;
    }
    


}

